**ชนม์นิภา คำนูณวัฒน์ 660710701**

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("./student.csv")

#ตรวจข้อมูล

In [3]:
data = pd.DataFrame(df)

จะพบมี NaN อยู่ในตัวข้อมูล

In [4]:
print("ข้อมูล studnet.csv")
data

ข้อมูล studnet.csv

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-02-13
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2023-12-31
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2023-12-30
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2024-01-31
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-02-04
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2024-01-28
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-02-08
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-02-05
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-10
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2023-12-18
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-21
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2024-02-04
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-22
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-05
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2023-12-24
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-23
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-02
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2023-12-19
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2024-01-09
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-02-13

# Dropna ลบแถวที่มีค่าหาย

NaN หายไปแล้ว (โดยใช้dropna)

In [5]:
clean_data = data.dropna().copy()
clean_data

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-02-13
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2023-12-31
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2024-01-31
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-02-04
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2024-01-28
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-02-08
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-02-05
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-10
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2023-12-18
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-22
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-05
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2023-12-24
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-23
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-02

เป็น0ทั้งหมด เพราะถูกลบไปหมดแล้ว

In [6]:
clean_data = data.dropna()
clean_data.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       0
อายุ                       0
เพศ                        0
คณะ                        0
GPA                        0
ส่วนสูง_cm                 0
น้ำหนัก_kg                 0
ชั่วโมงเรียน_ต่อสัปดาห์    0
วันที่ลงทะเบียน            0
dtype: int64

#Mean Replcing ค่าเฉลี่ย

หาค่าเฉลี่ยจากทุกอัน

In [7]:
#หาค่าเฉลี่ยจากทุกอันที่สามารถหาได้
m_age = data['อายุ'].mean()
m_height = data['ส่วนสูง_cm'].mean()
m_weight = data['น้ำหนัก_kg'].mean()
m_hour = data['ชั่วโมงเรียน_ต่อสัปดาห์'].mean()
m_gpa = data['GPA'].mean()

#แทนค่าNaNเพื่อจะให้มีค่าโดยfillna
data['อายุ'].fillna(m_age, inplace=True)
data['ส่วนสูง_cm'].fillna(m_height, inplace=True)
data['น้ำหนัก_kg'].fillna(m_weight, inplace=True)
data['ชั่วโมงเรียน_ต่อสัปดาห์'].fillna(m_hour, inplace=True)
data['GPA'].fillna(m_gpa, inplace=True)

data

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-02-13
1,64002,สมหญิง,21.000000,หญิง,วิทย์,3.450000,165.000000,58.000000,20.000000,2023-12-31
2,64003,NaN,28.470588,Male,Science,3.670000,175.000000,63.611111,25.000000,2023-12-30
3,64004,สมศักดิ์,22.000000,ช,คณะวิทยาศาสตร์,-1.000000,168.000000,70.000000,10.000000,2024-01-31
4,64005,สมใจ,19.000000,ญ,วิศวะ,3.890000,160.000000,52.000000,30.000000,2024-02-04
5,64006,กานต์,150.000000,ชาย,Engineering,3.120000,172.000000,75.000000,12.000000,2024-01-28
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.500000,158.000000,48.000000,35.000000,2024-02-08
7,64008,จิรา,20.000000,F,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-02-05
8,64009,ชนาธิป,23.000000,M,Arts,3.340000,163.000000,55.000000,22.000000,2024-02-10
9,64010,ดารา,21.000000,หญิง,ศิลป์,3.560000,167.000000,60.000000,28.000000,2023-12-18
10,64011,ธีระ,28.470588,NaN,NaN,3.780000,167.684211,68.000000,21.388889,2024-01-21
11,64012,นภา,22.000000,ชาย,วิทย์,3.246111,171.000000,63.611111,16.000000,2024-02-04
12,64013,บุญมี,20.000000,หญิง,วิศวฯ,3.230000,169.000000,72.000000,24.000000,2023-12-22
13,64014,ปรีชา,21.000000,ชาย,Liberal Arts,3.450000,164.000000,54.000000,19.000000,2024-01-05
14,64015,พิมพ์,22.000000,Female,Sci,3.670000,162.000000,56.000000,26.000000,2023-12-24
15,64016,ภูมิ,19.000000,ช,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-23
16,64017,มานี,20.000000,ญ,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-02
17,64018,ยุพา,21.000000,หญิง,NaN,3.230000,161.000000,50.000000,27.000000,2023-12-19
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2024-01-09
19,64020,ลัดดา,22.000000,NaN,Science,3.450000,168.000000,64.000000,23.000000,2024-02-13

ค่าเฉลี่ยอายุ

In [8]:
m_age

np.float64(28.470588235294116)

ค่าเฉลี่ยความสูง

In [9]:
m_height

np.float64(167.68421052631578)

ค่าเฉลี่ยน้ำหนัก

In [10]:
m_weight

np.float64(63.611111111111114)

ค่าเฉลี่ยชั่วโมง

In [11]:
m_hour

np.float64(21.38888888888889)

ค่าเฉลี่ยเกรด

In [12]:
m_gpa

np.float64(3.2461111111111105)

# Mode เติมค่าด้วยค่าที่พบบ่อยที่สุด

แทนค่าNaNเพื่อจะให้มีค่าโดยfillna

In [13]:
data['เพศ'].fillna(data['เพศ'].mode()[0], inplace=True)
data['คณะ'].fillna(data['คณะ'].mode()[0], inplace=True)
data.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       1
อายุ                       0
เพศ                        0
คณะ                        0
GPA                        0
ส่วนสูง_cm                 0
น้ำหนัก_kg                 0
ชั่วโมงเรียน_ต่อสัปดาห์    0
วันที่ลงทะเบียน            0
dtype: int64

In [14]:
data

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-02-13
1,64002,สมหญิง,21.000000,หญิง,วิทย์,3.450000,165.000000,58.000000,20.000000,2023-12-31
2,64003,NaN,28.470588,Male,Science,3.670000,175.000000,63.611111,25.000000,2023-12-30
3,64004,สมศักดิ์,22.000000,ช,คณะวิทยาศาสตร์,-1.000000,168.000000,70.000000,10.000000,2024-01-31
4,64005,สมใจ,19.000000,ญ,วิศวะ,3.890000,160.000000,52.000000,30.000000,2024-02-04
5,64006,กานต์,150.000000,ชาย,Engineering,3.120000,172.000000,75.000000,12.000000,2024-01-28
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.500000,158.000000,48.000000,35.000000,2024-02-08
7,64008,จิรา,20.000000,F,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-02-05
8,64009,ชนาธิป,23.000000,M,Arts,3.340000,163.000000,55.000000,22.000000,2024-02-10
9,64010,ดารา,21.000000,หญิง,ศิลป์,3.560000,167.000000,60.000000,28.000000,2023-12-18
10,64011,ธีระ,28.470588,ชาย,Science,3.780000,167.684211,68.000000,21.388889,2024-01-21
11,64012,นภา,22.000000,ชาย,วิทย์,3.246111,171.000000,63.611111,16.000000,2024-02-04
12,64013,บุญมี,20.000000,หญิง,วิศวฯ,3.230000,169.000000,72.000000,24.000000,2023-12-22
13,64014,ปรีชา,21.000000,ชาย,Liberal Arts,3.450000,164.000000,54.000000,19.000000,2024-01-05
14,64015,พิมพ์,22.000000,Female,Sci,3.670000,162.000000,56.000000,26.000000,2023-12-24
15,64016,ภูมิ,19.000000,ช,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-23
16,64017,มานี,20.000000,ญ,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-02
17,64018,ยุพา,21.000000,หญิง,Science,3.230000,161.000000,50.000000,27.000000,2023-12-19
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2024-01-09
19,64020,ลัดดา,22.000000,ชาย,Science,3.450000,168.000000,64.000000,23.000000,2024-02-13

**Standarization ข้อมูลที่เป็นมาตรฐาน**

เพศ มีข้อมูลอะไรบ้าง
เราจะเลือกจัดการค่าเพศแก้ให้มีค่ามาเหมือนกัน

In [15]:
data['เพศ']

0        ชาย
1       หญิง
2       Male
3          ช
4          ญ
5        ชาย
6       หญิง
7          F
8          M
9       หญิง
10       ชาย
11       ชาย
12      หญิง
13       ชาย
14    Female
15         ช
16         ญ
17      หญิง
18       ชาย
19       ชาย
Name: เพศ, dtype: object

In [16]:
def standardize_gender(name):
    if name in ['ชาย', 'Male', 'ช', 'M']:
        return 'ชาย'
    elif name in ['หญิง', 'Female', 'ญ', 'F']:
        return 'หญิง'
    else:
        return name

data['เพศ'] = data['เพศ'].apply(standardize_gender)

ค่าของเพศจะเป็นมาตรฐาน

In [17]:
data

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-02-13
1,64002,สมหญิง,21.000000,หญิง,วิทย์,3.450000,165.000000,58.000000,20.000000,2023-12-31
2,64003,NaN,28.470588,ชาย,Science,3.670000,175.000000,63.611111,25.000000,2023-12-30
3,64004,สมศักดิ์,22.000000,ชาย,คณะวิทยาศาสตร์,-1.000000,168.000000,70.000000,10.000000,2024-01-31
4,64005,สมใจ,19.000000,หญิง,วิศวะ,3.890000,160.000000,52.000000,30.000000,2024-02-04
5,64006,กานต์,150.000000,ชาย,Engineering,3.120000,172.000000,75.000000,12.000000,2024-01-28
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.500000,158.000000,48.000000,35.000000,2024-02-08
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-02-05
8,64009,ชนาธิป,23.000000,ชาย,Arts,3.340000,163.000000,55.000000,22.000000,2024-02-10
9,64010,ดารา,21.000000,หญิง,ศิลป์,3.560000,167.000000,60.000000,28.000000,2023-12-18
10,64011,ธีระ,28.470588,ชาย,Science,3.780000,167.684211,68.000000,21.388889,2024-01-21
11,64012,นภา,22.000000,ชาย,วิทย์,3.246111,171.000000,63.611111,16.000000,2024-02-04
12,64013,บุญมี,20.000000,หญิง,วิศวฯ,3.230000,169.000000,72.000000,24.000000,2023-12-22
13,64014,ปรีชา,21.000000,ชาย,Liberal Arts,3.450000,164.000000,54.000000,19.000000,2024-01-05
14,64015,พิมพ์,22.000000,หญิง,Sci,3.670000,162.000000,56.000000,26.000000,2023-12-24
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-23
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-02
17,64018,ยุพา,21.000000,หญิง,Science,3.230000,161.000000,50.000000,27.000000,2023-12-19
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2024-01-09
19,64020,ลัดดา,22.000000,ชาย,Science,3.450000,168.000000,64.000000,23.000000,2024-02-13

คณะ มีข้อมูลอะไรบ้าง เราจะเลือกจัดการคณะแก้ให้มีค่ามาเหมือนกัน

In [18]:
data['คณะ']

0        วิทยาศาสตร์
1              วิทย์
2            Science
3     คณะวิทยาศาสตร์
4              วิศวะ
5        Engineering
6           วิศวกรรม
7         ศิลปศาสตร์
8               Arts
9              ศิลป์
10           Science
11             วิทย์
12             วิศวฯ
13      Liberal Arts
14               Sci
15       วิทยาศาสตร์
16    วิศวกรรมศาสตร์
17           Science
18        ศิลปศาสตร์
19           Science
Name: คณะ, dtype: object

In [19]:
def standardize_faculty(name):
    if name in ['วิทยาศาสตร์', 'วิทย์', 'Science', 'คณะวิทยาศาสตร์','Sci']: #วิทยาศาสตร์ - วิทย์ , Science ,Sci
        return 'วิทยาศาสตร์'
    elif name in ['ศิลปศาสตร์', 'ศิลป์', 'Arts','Liberal Arts']:#ศิลปศาสตร์ - Arts,ศิลป์ ,Liberal Arts
        return 'ศิลปศาสตร์'
    elif name in ['วิศวกรรมศาสตร์','วิศวกรรม','วิศวะ','Engineering','วิศวฯ']: #วิศวกรรมศาสตร์ - วิศวกรรม,วิศวะ ,Engineering ,วิศวฯ
        return 'วิศวกรรมศาสตร์'
    else:
        return name
data['คณะ'] = data['คณะ'].apply(standardize_faculty)

ค่าของคณะจะเป็นมาตรฐาน

In [20]:
data

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-02-13
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.000000,20.000000,2023-12-31
2,64003,NaN,28.470588,ชาย,วิทยาศาสตร์,3.670000,175.000000,63.611111,25.000000,2023-12-30
3,64004,สมศักดิ์,22.000000,ชาย,วิทยาศาสตร์,-1.000000,168.000000,70.000000,10.000000,2024-01-31
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.890000,160.000000,52.000000,30.000000,2024-02-04
5,64006,กานต์,150.000000,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.000000,12.000000,2024-01-28
6,64007,กิตติ,21.000000,หญิง,วิศวกรรมศาสตร์,4.500000,158.000000,48.000000,35.000000,2024-02-08
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-02-05
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.340000,163.000000,55.000000,22.000000,2024-02-10
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.000000,28.000000,2023-12-18
10,64011,ธีระ,28.470588,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.000000,21.388889,2024-01-21
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,3.246111,171.000000,63.611111,16.000000,2024-02-04
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.000000,24.000000,2023-12-22
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.000000,19.000000,2024-01-05
14,64015,พิมพ์,22.000000,หญิง,วิทยาศาสตร์,3.670000,162.000000,56.000000,26.000000,2023-12-24
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-23
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-02
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.000000,27.000000,2023-12-19
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2024-01-09
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.000000,23.000000,2024-02-13

**Abnormaly Value การจัดการค่าผิดปกติ**

แทนค่าNaNเพื่อจะให้มีค่าโดยfillna

In [21]:
data['อายุ'].fillna(data['อายุ'].mode()[0], inplace=True)
data['GPA'].fillna(data['GPA'].mode()[0], inplace=True)
data.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       1
อายุ                       0
เพศ                        0
คณะ                        0
GPA                        0
ส่วนสูง_cm                 0
น้ำหนัก_kg                 0
ชั่วโมงเรียน_ต่อสัปดาห์    0
วันที่ลงทะเบียน            0
dtype: int64

In [22]:
data

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-02-13
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.000000,20.000000,2023-12-31
2,64003,NaN,28.470588,ชาย,วิทยาศาสตร์,3.670000,175.000000,63.611111,25.000000,2023-12-30
3,64004,สมศักดิ์,22.000000,ชาย,วิทยาศาสตร์,-1.000000,168.000000,70.000000,10.000000,2024-01-31
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.890000,160.000000,52.000000,30.000000,2024-02-04
5,64006,กานต์,150.000000,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.000000,12.000000,2024-01-28
6,64007,กิตติ,21.000000,หญิง,วิศวกรรมศาสตร์,4.500000,158.000000,48.000000,35.000000,2024-02-08
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-02-05
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.340000,163.000000,55.000000,22.000000,2024-02-10
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.000000,28.000000,2023-12-18
10,64011,ธีระ,28.470588,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.000000,21.388889,2024-01-21
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,3.246111,171.000000,63.611111,16.000000,2024-02-04
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.000000,24.000000,2023-12-22
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.000000,19.000000,2024-01-05
14,64015,พิมพ์,22.000000,หญิง,วิทยาศาสตร์,3.670000,162.000000,56.000000,26.000000,2023-12-24
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-23
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-02
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.000000,27.000000,2023-12-19
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2024-01-09
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.000000,23.000000,2024-02-13

ขอบเขตของอายุ , Q1 IQR Q3

In [23]:
Q1_age = data['อายุ'].quantile(0.25)
Q3_age = data['อายุ'].quantile(0.75)

In [24]:
Q1_age, Q3_age

(np.float64(20.0), np.float64(22.25))

In [25]:
print(f"\nค่าเฉลี่ยอายุ (รวมค่าผิดปกติ) - {data['อายุ'].mean():.2f}")

ค่าเฉลี่ยอายุ (รวมค่าผิดปกติ) - 28.47

In [26]:
IQR_age = Q3_age - Q1_age

In [27]:
IQR_age

np.float64(2.25)

หาขอบเขตอายุ ด้วยขอบเขตล่าง ขอบเขตบน

In [28]:
lower_bound_age = Q1_age - 1.5 * IQR_age
upper_bound_age = Q3_age + 1.5 * IQR_age

In [29]:
lower_bound_age, upper_bound_age

(np.float64(16.625), np.float64(25.625))

In [30]:
data['อายุ'] >= lower_bound_age

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
Name: อายุ, dtype: bool

In [31]:
data['อายุ'] <= upper_bound_age

0      True
1      True
2     False
3      True
4      True
5     False
6      True
7      True
8      True
9      True
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18    False
19     True
Name: อายุ, dtype: bool

อันนี้จะเอา5ออกจากทั้งหมด เพราะอายุเกิน

In [32]:
data_no_outliers_age = data[(data['อายุ'] >= lower_bound_age) & (data['อายุ'] <= upper_bound_age)]
data_no_outliers_age

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.210000,170.0,65.000000,15.0,2024-02-13
1,64002,สมหญิง,21.0,หญิง,วิทยาศาสตร์,3.450000,165.0,58.000000,20.0,2023-12-31
3,64004,สมศักดิ์,22.0,ชาย,วิทยาศาสตร์,-1.000000,168.0,70.000000,10.0,2024-01-31
4,64005,สมใจ,19.0,หญิง,วิศวกรรมศาสตร์,3.890000,160.0,52.000000,30.0,2024-02-04
6,64007,กิตติ,21.0,หญิง,วิศวกรรมศาสตร์,4.500000,158.0,48.000000,35.0,2024-02-08
7,64008,จิรา,20.0,หญิง,ศิลปศาสตร์,2.980000,180.0,82.000000,18.0,2024-02-05
8,64009,ชนาธิป,23.0,ชาย,ศิลปศาสตร์,3.340000,163.0,55.000000,22.0,2024-02-10
9,64010,ดารา,21.0,หญิง,ศิลปศาสตร์,3.560000,167.0,60.000000,28.0,2023-12-18
11,64012,นภา,22.0,ชาย,วิทยาศาสตร์,3.246111,171.0,63.611111,16.0,2024-02-04
12,64013,บุญมี,20.0,หญิง,วิศวกรรมศาสตร์,3.230000,169.0,72.000000,24.0,2023-12-22
13,64014,ปรีชา,21.0,ชาย,ศิลปศาสตร์,3.450000,164.0,54.000000,19.0,2024-01-05
14,64015,พิมพ์,22.0,หญิง,วิทยาศาสตร์,3.670000,162.0,56.000000,26.0,2023-12-24
15,64016,ภูมิ,19.0,ชาย,วิทยาศาสตร์,3.890000,173.0,78.000000,14.0,2024-01-23
16,64017,มานี,20.0,หญิง,วิศวกรรมศาสตร์,3.010000,166.0,62.000000,21.0,2024-01-02
17,64018,ยุพา,21.0,หญิง,วิทยาศาสตร์,3.230000,161.0,50.000000,27.0,2023-12-19
19,64020,ลัดดา,22.0,ชาย,วิทยาศาสตร์,3.450000,168.0,64.000000,23.0,2024-02-13

เกรดมีได้แค่1-4

In [33]:
lower_bound_gpa = 1
upper_bound_gpa = 4

In [34]:
data['GPA'] >= lower_bound_gpa

0      True
1      True
2      True
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
Name: GPA, dtype: bool

In [35]:
data['GPA'] <= upper_bound_gpa

0      True
1      True
2      True
3      True
4      True
5      True
6     False
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
Name: GPA, dtype: bool

เอาคนที่เกรดผิดปกติออกไป

In [36]:
data_no_outliers_gpa = data[(data['GPA'] >= lower_bound_gpa) & (data['GPA'] <= upper_bound_gpa)]
data_no_outliers_gpa

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.210000,170.000000,65.000000,15.000000,2024-02-13
1,64002,สมหญิง,21.000000,หญิง,วิทยาศาสตร์,3.450000,165.000000,58.000000,20.000000,2023-12-31
2,64003,NaN,28.470588,ชาย,วิทยาศาสตร์,3.670000,175.000000,63.611111,25.000000,2023-12-30
4,64005,สมใจ,19.000000,หญิง,วิศวกรรมศาสตร์,3.890000,160.000000,52.000000,30.000000,2024-02-04
5,64006,กานต์,150.000000,ชาย,วิศวกรรมศาสตร์,3.120000,172.000000,75.000000,12.000000,2024-01-28
7,64008,จิรา,20.000000,หญิง,ศิลปศาสตร์,2.980000,180.000000,82.000000,18.000000,2024-02-05
8,64009,ชนาธิป,23.000000,ชาย,ศิลปศาสตร์,3.340000,163.000000,55.000000,22.000000,2024-02-10
9,64010,ดารา,21.000000,หญิง,ศิลปศาสตร์,3.560000,167.000000,60.000000,28.000000,2023-12-18
10,64011,ธีระ,28.470588,ชาย,วิทยาศาสตร์,3.780000,167.684211,68.000000,21.388889,2024-01-21
11,64012,นภา,22.000000,ชาย,วิทยาศาสตร์,3.246111,171.000000,63.611111,16.000000,2024-02-04
12,64013,บุญมี,20.000000,หญิง,วิศวกรรมศาสตร์,3.230000,169.000000,72.000000,24.000000,2023-12-22
13,64014,ปรีชา,21.000000,ชาย,ศิลปศาสตร์,3.450000,164.000000,54.000000,19.000000,2024-01-05
14,64015,พิมพ์,22.000000,หญิง,วิทยาศาสตร์,3.670000,162.000000,56.000000,26.000000,2023-12-24
15,64016,ภูมิ,19.000000,ชาย,วิทยาศาสตร์,3.890000,173.000000,78.000000,14.000000,2024-01-23
16,64017,มานี,20.000000,หญิง,วิศวกรรมศาสตร์,3.010000,166.000000,62.000000,21.000000,2024-01-02
17,64018,ยุพา,21.000000,หญิง,วิทยาศาสตร์,3.230000,161.000000,50.000000,27.000000,2023-12-19
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,3.246111,174.000000,76.000000,21.388889,2024-01-09
19,64020,ลัดดา,22.000000,ชาย,วิทยาศาสตร์,3.450000,168.000000,64.000000,23.000000,2024-02-13

#แทนที่ค่าเป็นไม่ระบุ

ยังเลือกชื่อที่ยังไม่ได้แก้

In [37]:
data['ชื่อ'].fillna('ไม่ระบุ', inplace=True)
data = data.round(2)
data

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.00,ชาย,วิทยาศาสตร์,3.21,170.00,65.00,15.00,2024-02-13
1,64002,สมหญิง,21.00,หญิง,วิทยาศาสตร์,3.45,165.00,58.00,20.00,2023-12-31
2,64003,ไม่ระบุ,28.47,ชาย,วิทยาศาสตร์,3.67,175.00,63.61,25.00,2023-12-30
3,64004,สมศักดิ์,22.00,ชาย,วิทยาศาสตร์,-1.00,168.00,70.00,10.00,2024-01-31
4,64005,สมใจ,19.00,หญิง,วิศวกรรมศาสตร์,3.89,160.00,52.00,30.00,2024-02-04
5,64006,กานต์,150.00,ชาย,วิศวกรรมศาสตร์,3.12,172.00,75.00,12.00,2024-01-28
6,64007,กิตติ,21.00,หญิง,วิศวกรรมศาสตร์,4.50,158.00,48.00,35.00,2024-02-08
7,64008,จิรา,20.00,หญิง,ศิลปศาสตร์,2.98,180.00,82.00,18.00,2024-02-05
8,64009,ชนาธิป,23.00,ชาย,ศิลปศาสตร์,3.34,163.00,55.00,22.00,2024-02-10
9,64010,ดารา,21.00,หญิง,ศิลปศาสตร์,3.56,167.00,60.00,28.00,2023-12-18
10,64011,ธีระ,28.47,ชาย,วิทยาศาสตร์,3.78,167.68,68.00,21.39,2024-01-21
11,64012,นภา,22.00,ชาย,วิทยาศาสตร์,3.25,171.00,63.61,16.00,2024-02-04
12,64013,บุญมี,20.00,หญิง,วิศวกรรมศาสตร์,3.23,169.00,72.00,24.00,2023-12-22
13,64014,ปรีชา,21.00,ชาย,ศิลปศาสตร์,3.45,164.00,54.00,19.00,2024-01-05
14,64015,พิมพ์,22.00,หญิง,วิทยาศาสตร์,3.67,162.00,56.00,26.00,2023-12-24
15,64016,ภูมิ,19.00,ชาย,วิทยาศาสตร์,3.89,173.00,78.00,14.00,2024-01-23
16,64017,มานี,20.00,หญิง,วิศวกรรมศาสตร์,3.01,166.00,62.00,21.00,2024-01-02
17,64018,ยุพา,21.00,หญิง,วิทยาศาสตร์,3.23,161.00,50.00,27.00,2023-12-19
18,64019,รัตนา,28.47,ชาย,ศิลปศาสตร์,3.25,174.00,76.00,21.39,2024-01-09
19,64020,ลัดดา,22.00,ชาย,วิทยาศาสตร์,3.45,168.00,64.00,23.00,2024-02-13

เช็คที่มีNaN(ทั้งหมดต้องไม่มีแล้ว=0)

In [38]:
data.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       0
อายุ                       0
เพศ                        0
คณะ                        0
GPA                        0
ส่วนสูง_cm                 0
น้ำหนัก_kg                 0
ชั่วโมงเรียน_ต่อสัปดาห์    0
วันที่ลงทะเบียน            0
dtype: int64

**หาค่าน้ำหนักBMI โดยการผสมสูตร**

In [39]:
data['BMI'] = data['น้ำหนัก_kg'] / (data['ส่วนสูง_cm']/100)**2

In [40]:
data['สุขภาพ'] = pd.cut(data['BMI'],
                                   bins=[0, 18.5, 25, 30, 100],
                                   labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])

แสดงค่ามวนดัชนีและสุขภาพ

In [41]:
display(data[['ชื่อ', 'BMI', 'สุขภาพ']])

        ชื่อ        BMI สุขภาพ
0      สมชาย  22.491349   ปกติ
1     สมหญิง  21.303949   ปกติ
2    ไม่ระบุ  20.770612   ปกติ
3   สมศักดิ์  24.801587   ปกติ
4       สมใจ  20.312500   ปกติ
5      กานต์  25.351541   อ้วน
6      กิตติ  19.227688   ปกติ
7       จิรา  25.308642   อ้วน
8     ชนาธิป  20.700817   ปกติ
9       ดารา  21.513859   ปกติ
10      ธีระ  24.185016   ปกติ
11       นภา  21.753702   ปกติ
12     บุญมี  25.209201   อ้วน
13     ปรีชา  20.077335   ปกติ
14     พิมพ์  21.338211   ปกติ
15      ภูมิ  26.061679   อ้วน
16      มานี  22.499637   ปกติ
17      ยุพา  19.289379   ปกติ
18     รัตนา  25.102391   อ้วน
19     ลัดดา  22.675737   ปกติ